/* Login Dialog */

#lockDialogGroup {
    background-color: $solid_osd_bg_color;
    background-image: url("assets/background.png");
    background-size: cover;

    @if $scale != "default" {
        .user-icon {
            icon-size: $base_icon_size * 2;

            & StIcon {
                padding: 24px;
                width: $base_icon_size * 5;
                height: $base_icon_size * 5;
            }
        }
    }

    .user-icon {
        icon-size: $base_icon_size * 8;

        // user face icon
        & StIcon {
            margin: 0px;
            // padding: 32px;
            width: $base_icon_size * 32;
            height: $base_icon_size * 32;
        }
    }
}

.login-dialog-banner-view {
    @if $scale == "default" {
        padding-top: 24px;
        max-width: 12em;
    } @else {
        padding-top: 42px;
        max-width: 24em;
    }
}

.unlock-dialog {
    StEntry {
        @include fontsize($base_font_size);
        padding: 0 $base_padding * 2 !important;

        StIcon.peek-password {
            padding: 0 $base_padding * 2 !important;
        }

        StLabel.hint-text {
            margin-left: $base_padding / 2 !important;
        }
    }

    .modal-dialog-button-box {
        spacing: $container_padding / 2 !important;
    }

    .modal-dialog-button {
        padding: 2px $container_padding * 2 !important;
    }

    // replaced in the bottom
    /*
  .cancel-button,
  .switch-user-button,
  .login-dialog-session-list-button {
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;

    StIcon {
      icon-size: 16px !important;
    }
  }
  */

    .login-dialog-logo-bin {
        padding: $container_padding * 4 0;
    }
    .login-dialog-button-box {
        spacing: $container_padding;
    }
    .login-dialog-message-hint {
        padding-top: 0;
        padding-bottom: $container_padding * 3;
    }
    // replaced in bottom
    /*
    .login-dialog-user-selection-box {
    padding: 100px 0px;
    }
  */

    // replaced
    /*
  .login-dialog-not-listed-label {
    padding-left: 2px;
  }
/

  .login-dialog-not-listed-label {
    font-size: 1em;
    padding-top: 1em;
  }
  */

    /*
  .login-dialog-user-list-view {
    -st-vfade-offset: 1em;
  }
  */

    // replaced  in bottom
    /*
  .login-dialog-user-list {
    spacing: $container_padding * 10;
    padding: 5em;
    width: 32em;

    &:expanded .login-dialog-user-list-item:logged-in { border-right: 10px solid $selected_bg_color; }
  }
  */

    // replaced by .login-dialog-user-list-item in bottom
    /*
  .login-dialog-user-list-item {
    // border-radius: $mn_radius;
    border-radius: $bt_radius;
    padding: $container_padding;

    &:ltr .user-widget { padding-right: 1em; }
    &:rtl .user-widget { padding-left: 1em; }

    .login-dialog-timed-login-indicator {
      height: 2px;
      margin: $container_padding 0 0 0;
      background-color: $visit_color !important;
    }
  }
  */

    /*
  .user-widget.horizontal
  .user-widget-label {
    @include fontsize($base_font_size + 2);
    padding-left: $container_padding * 2;

    &:ltr { padding-left: $container_padding * 4; text-align: left; }
    &:rtl { padding-right: $container_padding * 4; text-align: right; }
  }

  // username under icon face
  .user-widget.vertical
  .user-widget-label {
    // color: rgba($bg_color, $lower_opacity);
    font-weight: 800;
    @include fontsize($base_font_size + 20);
    padding-top: $container_padding * 1 ;
  }
  */

    // password prompt container
    .login-dialog-prompt-layout {
        padding-top: $container_padding * 4;
        padding-bottom: $container_padding * 2;
        spacing: $base_spacing * 2;
        width: 24em;
    }

    // password prompt
    .login-dialog-prompt-entry {
        border-radius: $bt_radius;
        height: 2em;
        // background-color: #00f; it is shown only in annimation
    }

    .login-dialog-prompt-label {
        @include fontsize($base_font_size + 1px);
        padding-top: 1em;
    }
}

.login-dialog {
    StEntry {
        @if $scale != "default" {
            @include fontsize($base_font_size + 3);
            padding: 0 $base_padding * 4 !important;

            StIcon.peek-password {
                padding: 0 $base_padding * 2 !important;
            }

            StLabel.hint-text {
                margin-left: $base_padding !important;
            }
        }

        StIcon {
            icon-size: if($scale == "default", 16px, 32px);
            padding: 0;
            margin: 0;
        }
    }

    .modal-dialog-button-box {
        @if $scale == "default" {
            spacing: $container_padding / 2;
        } @else {
            spacing: $container_padding;
        }
    }

    .modal-dialog-button {
        // background-color: #f80;
        // color: #f80;
        @if $scale == "default" {
            padding: 2px $container_padding * 2;
        } @else {
            padding: 4px $container_padding * 4;
        }
    }

    // replaced in bottom
    /* 
  .cancel-button,
  .switch-user-button,
  .login-dialog-session-list-button {
    @if $scale == 'default' {
      width: 32px;
      height: 32px;
    } @else {
      width: 64px;
      height: 64px;
    }

    StIcon {
      icon-size: if($scale == 'default', 16px, 32px);
    }
  }
  */

    // .login-dialog-logo-bin { padding: $container_padding * 4 0; }
    .login-dialog-logo-bin {
        padding: $container_padding $container_padding;
    }
    .login-dialog-button-box {
        spacing: $container_padding;
    }
    .login-dialog-message-hint {
        padding-top: 0;
        padding-bottom: $container_padding * 10;
    }
    // replaced in bottom
    /* 
    .login-dialog-user-selection-box { 
      background-color: #f00;
      // background-color: transparent;
      // color: #f80;
      padding: 0px 0px;
    }
    */

    // replaced in bottom
    /*
  .login-dialog-not-listed-label {
    padding-left: 4px;
  }

  .login-dialog-not-listed-label {
    @if $scale == 'default' {
      font-size: 1em;
      padding-top: 1em;
    } @else {
      font-size: 2em;
      padding-top: 2em;
    }
  }
  */

    .login-dialog-user-list-view {
        -st-vfade-offset: if($scale == "default", 1em, 2em);
    }
    // replaced in bottom
    /*
  .login-dialog-user-list-view { -st-vfade-offset: if($scale == 'default', 1em, 2em); }
  .login-dialog-user-list {
    @if $scale == 'default' {
      spacing: $container_padding * 4;
      padding: 0.2em;
      width: 32em;
    } @else {
      spacing: $container_padding * 4;
      padding: .4em;
      width: 42em;
    }
    &:expanded .login-dialog-user-list-item:logged-in { border-right: if($scale == 'default', 2px, 4px) solid $selected_bg_color; }
  }

  .login-dialog-user-list-item {
    border-radius: $bt_radius;
    // border-radius: if($scale == 'default', $mn_radius, $mn_radius * 2);
    padding: $container_padding;
    // padding: if($scale == 'default', $container_padding * 2, $container_padding * 2);

    &:ltr .user-widget { padding-right: if($scale == 'default', 1em, 2em); }
    &:rtl .user-widget { padding-left: if($scale == 'default', 1em, 2em); }

    .login-dialog-timed-login-indicator {
      height: if($scale == 'default', 2px, 4px);
      margin: if($scale == 'default', $container_padding, $container_padding * 2) 0 0 0;
    }
  }
  */

    // on user list item
    /*
  .user-widget.horizontal
  .user-widget-label {
    @if $scale == 'default' {
      @include fontsize($base_font_size + 8);
    } @else {
      @include fontsize($base_font_size + 12);
    }

    padding-left: if($scale == 'default', $container_padding * 2, $container_padding * 4);

    &:ltr { padding-left: if($scale == 'default', $container_padding * 2, $container_padding * 4); text-align: left; }
    &:rtl { padding-right: if($scale == 'default', $container_padding * 2, $container_padding * 4); text-align: right; }
  }
  */

    // under user face
    /*
  .user-widget.vertical
  .user-widget-label {
    color: $bg_color;
    @if $scale == 'default' {
      @include fontsize($base_font_size + 20);
    } @else {
      @include fontsize($base_font_size + 24);
    }

    // padding-top: if($scale == 'default', $base_padding * 2.5, $base_padding * 5);
    padding-top: if($scale == 'default', $base_padding * 5, $base_padding * 5);
    // padding-bottom: if($scale == 'default', $base_padding * 3.5, $base_padding * 7);
    padding-bottom: if($scale == 'default', $base_padding * 10, $base_padding * 7);
  }
  */

    // password filed container
    .login-dialog-prompt-layout {
        padding-top: if(
            $scale == "default",
            $container_padding * 4,
            $container_padding * 8
        );
        padding-bottom: if(
            $scale == "default",
            $container_padding * 2,
            $container_padding * 4
        );
        spacing: if($scale == "default", $base_spacing * 2, $base_spacing * 4);
        width: if($scale == "default", 24em, 42em);
    }

    // password field
    .login-dialog-prompt-entry {
        border-radius: $bt_radius;
        height: if($scale == "default", 2em, 3em);
    }

    .login-dialog-prompt-label {
        @if $scale == "default" {
            @include fontsize($base_font_size + 1);
        } @else {
            @include fontsize($base_font_size * 2 + 2);
        }

        padding-top: if($scale == "default", 1em, 2em);
    }
}

.login-dialog,
.unlock-dialog {
    border: none;
    background-color: transparent;

    StEntry {
        selection-background-color: transparent;
        selected-background-color: transparent;
        selected-color: white;
        border-radius: $circular_radius;
        // caret-color: $light_fg_color;
        // input-filed place-holder-text (username, password) caret color
        caret-color: $fg_color;

        color: $fg_color;
        // background-color: rgba($bg_color, $higher_opacity);
        background-color: $bg_color;

        //input-filed place-holder-text (username, password) color
        StLabel.hint-text {
            color: $fg_color;
        }
    }

    .modal-dialog-button {
        background-color: rgb(0, 255, 132);
        border: none;
        @include button(flat-normal, $tc: $light_fg_color);
        &:hover,
        &:focus {
            @include button(flat-hover, $tc: $light_fg_color);
        }
        &:active {
            @include button(flat-active, $tc: $light_fg_color);
        }
        &:insensitive {
            @include button(flat-insensitive, $tc: $light_disabled_fg_color);
        }

        &:default {
            @include button(normal, $tc: $light_fg_color);
            &:hover,
            &:focus {
                @include button(hover, $tc: $light_fg_color);
            }
            &:active {
                @include button(active, $tc: $light_fg_color);
            }
            &:insensitive {
                @include button(insensitive, $tc: $light_disabled_fg_color);
            }
        }
    }
}

// user name
.user-widget-label {
    color: $bg_color;
}

.login-dialog-banner {
    // color: #409b32;
    color: $light_alt_fg_color;
}

.login-dialog-message {
    size: 32px;
    text-align: center;
}

.login-dialog-message-warning {
    // color: $warning_color;
    color: $bg_color;
}

// user list + not listed label
.login-dialog-user-selection-box {
    background-color: transparent;
    padding: 0px;
}

// user selection box - not listed label
.login-dialog-user-list {
    background-color: transparent;
    spacing: $base_spacing * 8;
    // padding: 0px; // must be 0 to avoid issues in mouse clicking
    width: 32em;
    // replaced in bottom
    /*
  &:expanded
  .login-dialog-user-list-item:selected { 
    background-color: $light_divider_color;
    color: $light_alt_fg_color;
  }
  &:expanded
  .login-dialog-user-list-item:hover {
    // background-color: $light_divider_color;
    background-color: #f0f;
    // color: $light_alt_fg_color;
    color: #ff0;
  }
  &:expanded
  .login-dialog-user-list-item:active {
    background-color: $light_track_color;
    color: $light_alt_fg_color;
  }
  */
}

.login-dialog-user-list-item {
    height: 8em;
    border-radius: $bt_radius;
    background-color: transparent;

    // &:focus {
    //   background-color: $bg_color;
    //   background-color: if($variant == 'light', rgba(black, 0.9), rgba(white, 0.3)) !important;
    // }

    &:focus,
    &:hover,
    &:focus:hover {
        // background-color: $divider_color !important;
        background-color: rgba($bg_color, $lower_opacity);
    }

    &:active,
    &:focus:active {
        // background-color: rgba($bg_color, $higher_opacity);
        background-color: transparent;
    }

    .login-dialog-timed-login-indicator {
        background-color: $bg_color !important;
    }
}

// // username in users list
// .user-widget.horizontal
// .user-widget-label {
//   font-weight: 600;
// }

// // username in user container
// .user-widget.vertical
// .user-widget-label {
//   // color: $fg_color;
//   color: rgb(0, 121, 0);
//   text-align: center;
//   // font-weight: normal;
//   font-weight: 800;
// }

.user-widget.horizontal .user-widget-label {
    // padding-left: if($scale == 'default', $container_padding * 1, $container_padding * 4);

    font-weight: 600;
    @if $scale == "default" {
        @include fontsize($base_font_size + 8);
    } @else {
        @include fontsize($base_font_size + 12);
    }

    // &:ltr { padding-left: if($scale == 'default', $container_padding * 2, $container_padding * 4); text-align: left; }
    // &:rtl { padding-right: if($scale == 'default', $container_padding * 2, $container_padding * 4); text-align: right; }
}

.login-dialog-not-listed-label {
    .login-dialog-not-listed-button:focus &,
    .login-dialog-not-listed-button:hover & {
        color: $bg_color;
    }
}

.login-dialog-not-listed-label {
    font-weight: normal;
    // color: $light_alt_fg_color;
    color: $bg_color;
    padding-left: 4px;
    font-size: 1em;
    padding-top: 1em;

    // &:hover { color: $light_alt_fg_color; }
    &:hover {
        color: #f00;
    }
    // &:focus { background-color: light_divider_color; }
    &:focus {
        background-color: #f0f;
    }
}

.login-dialog-prompt-label {
    color: $bg_color;
}

// under user face
.user-widget.vertical .user-widget-label {
    @if $scale == "default" {
        @include fontsize($base_font_size + 20);
    } @else {
        @include fontsize($base_font_size + 24);
    }

    // padding-top: if($scale == 'default', $base_padding * 2.5, $base_padding * 5);
    padding-top: $base_padding;
    // padding-bottom: if($scale == 'default', $base_padding * 3.5, $base_padding * 7);
    padding-bottom: $base_padding;
}

.user-widget.vertical {
    // width: 1em;
    text-align: center;
    font-weight: 700;
    background-color: $fg-color;
    // background-color: transparent;
}

.user-widget.horizontal {
    // width: 32em;
    // font-weight: 400;
    // background-color: #f0f;
    background-color: transparent; // must be transparent for no issues
    spacing: $base_spacing * 4;
    padding: 0px; // must be 0 for no issues
}

.cancel-button,
.switch-user-button,
.login-dialog-session-list-button {
    border-radius: $circular_radius;
    border: none;
    color: $fg_color;
    background-color: $bg_color;

    width: $base_icon_size * 2 !important;
    height: $base_icon_size * 2 !important;
    padding: 0 !important;

    StIcon {
        icon-size: $base_icon_size !important;
    }
}
