/* Popovers/Menus */
$popop_menuitem_radius: $po_radius - $base_padding - if($variant=='light', 0, 2px); // radius of the menu item, used in popovers

//.the popover itself
.popup-menu-boxpointer {
  -arrow-border-radius: $po_radius;
  -arrow-background-color: transparent;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 32px;
  -arrow-rise: 0;
  -arrow-box-shadow: none; //dreaming. bug #689995
}

.arcmenu-menu {
  -arrow-base: 0;
}


// container of the popover menu
.popup-menu {
  min-width: $small_width;

  .popup-status-menu-item {
    font-weight: normal;
    color: rgb(138, 49, 64);
  } //dunno what that is

  &.panel-menu {
    -boxpointer-gap: $base_margin; // distance from the panel
    margin-bottom: 1.75em;
  }

  StEntry {
    selection-background-color: $light_alt_fg_color;
    selected-background-color: $light_alt_fg_color;
    selected-color: $primary_color;
    caret-color: $fg_color;

    StLabel.hint-text {
      // color: transparentize($fg_color, 0.3);
      margin-left: 2px;
    }
  }
}

// popups (calender, language selector ...) container
.popup-menu-content {
  background-color: $popover_bg_color;
  padding: $base_padding * 4;
  margin: $base_margin;
  border-radius: $po_radius;
}

// menu item, (language selection, accecibility, session selection, wifi selection, bluetooth selection)
.popup-menu-item {
  color: $text_color;
  // color: #f00;
  spacing: $base_spacing * 2;
  padding: $base_padding;
  text-shadow: none !important;
  icon-shadow: none !important;
  // border-radius: $popop_menuitem_radius !important;
  border-radius: $bd_radius !important;
  font-weight: normal;
  transition: none;
  // background-color: #f00;

  &:active,
  &.selected:active,
  &:focus,
  &:hover,
  &:selected {
    // color: $selected_fg_color !important;
    color: $light_color;
    background-color: $selected_bg_color !important;
    transition-duration: 0ms !important;
  }

  // didn't find it's purpose
  &:checked {
    color: $light_color !important;
    background-color: $selected_bg_color !important;
    background-gradient-direction: none !important;
    font-weight: normal;
    // border-radius: $popop_menuitem_radius $popop_menuitem_radius 0 0 !important;
    border-radius: $bd_radius !important;
    border: none;
    box-shadow: none;

    &:active,
    &:focus,
    &:hover,
    &:selected {
      // color: $selected_fg_color !important;
      color: $light_color !important;
      // background-color: $selected_bg_color !important;
      background-color: $selected_bg_color !important;
      background-gradient-direction: none !important;
    }

    /*
    &:active {
      color: $selected_fg_color !important;
      @if $shell_version == 'old' {
        background-color: mix($fg_color, $selected_bg_color, 5%) !important;
      } @else {
        background-color: st-mix($fg_color, $selected_bg_color, 5%) !important;
      }
    }
    */

    &:insensitive {
      color: $disabled_text_color !important;
    }
  }


  // replaced
  /*
  &:active, &.selected:active {
    color: $selected_fg_color !important;
    @if $shell_version == 'old' {
      background-color: mix($fg_color, $selected_bg_color, 5%) !important;
    } @else {
      background-color: st-mix($fg_color, $selected_bg_color, 5%) !important;
    }
  }
  */

  &:insensitive {
    color: $disabled_text_color !important;
  }
  // &:insensitive { color: #f00 !important; }

  // add margin to switches in menu items
  .toggle-switch {
    &:ltr { margin-left: $base_margin; }
    &:rtl { margin-right: $base_margin; }
  }
}

.popup-sub-menu {
  background-color: $submenu_bg_color !important;
  // border-radius: 0 0 $popop_menuitem_radius $popop_menuitem_radius !important;
  border-radius: $bd_radius !important;
  border: none;
  box-shadow: none;

  .popup-menu-item {
    margin: 0;
    // border-radius: $popop_menuitem_radius !important;
    border-radius: $bd_radius !important;
    background-color: transparent !important;

    &:active,
    &:focus,
    &:hover,
    &:selected {
      color: $selected_fg_color !important;
      background-color: $selected_bg_color !important;
    }

    // replaced
    /*
    &:active {
      color: $selected_fg_color !important;
      @if $shell_version == 'old' {
        background-color: mix($fg_color, $selected_bg_color, 5%) !important;
      } @else {
        background-color: st-mix($fg_color, $selected_bg_color, 5%) !important;
      }
    }
    */
  }
}

.popup-ornamented-menu-item {
  &:ltr { padding-left: $base_padding; }
  &:rtl { padding-right: $base_padding; }
}

.popup-inactive-menu-item { //all icons and other graphical elements
  color: $alt_fg_color !important;
  // color: #f00 !important;

  &:insensitive { color: $disabled_fg_color !important; }
}

// symbolic icons in popover
.popup-menu-arrow,
.popup-menu-icon {
  color: $fg_color;
  // color: $fg_color;
  // color: #f00;
  icon-size: $base_icon_size;
  icon-shadow: none !important;
}

// container for radio and check boxes
.popup-menu-ornament {
  // icon-size: $scalable_icon_size !important;
  icon-size: $scalable_icon_size !important;
  width: $scalable_icon_size;
}

// desktop background menu
.background-menu {
  -boxpointer-gap: $base_margin;
  -arrow-rise: 0px; // hide the beak on the menu
}

// system status popover menu
.aggregate-menu {
  min-width: 21em;
  // background-color: #f00;

  // lock screen, shutdown, etc. buttons
  .popup-menu-icon {
    padding: 0 !important;
    -st-icon-style: symbolic;

    &:ltr { margin-right: $base_margin * 2 !important; }
    &:rtl { margin-left: $base_margin * 2 !important; }
  }
}

// right-click app menu
.app-menu,
.app-well-menu {
  max-width: 27.25em;
}

// Rename popup for app folders
// didn't find any purpose
.rename-folder-popup {
  // color: #f00;
  // background-color: #f0f;
  .rename-folder-popup-item {
    spacing: $base_spacing;
    &:ltr, &:rtl { padding: 0 $base_padding * 2; }
  }
}

/*
@if $scale != 'default' {
  #lockDialogGroup .popup-menu,
  .login-screen .popup-menu { // FIXME: not use? how to set the popovers on login-screen?
    min-width: 24em;
    @include fontsize($base_font_size * 2 - 2);

    .popup-menu-content {
      padding: 12px 0;
      box-shadow: 0 10px 20px 0 rgba(black, 0.18);
      border: 2px solid if($variant=='light', rgba(black, 0), rgba(black, 0.75));
      margin: 8px 24px 34px 24px;
      @include fontsize($base_font_size * 2 - 2);
    }

    .popup-menu-item {
      spacing: $base_spacing * 4;
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: $popop_menuitem_radius * 2 !important;
      margin: 0 12px;

      &:ltr { padding-right: 4em; padding-left: 0; }
      &:rtl { padding-right: 0; padding-left: 4em; }

      &:checked {
        border-radius: $popop_menuitem_radius * 2 $popop_menuitem_radius * 2 0 0;
      }
    }

    .popup-sub-menu {
      border-radius: 0 0 $popop_menuitem_radius * 2 $popop_menuitem_radius * 2;
      margin: 0 6px;

      .popup-menu-item {
        border-radius: $popop_menuitem_radius * 2 !important;
      }
    }

    &.panel-menu {
      -boxpointer-gap: $base_margin * 2; // distance from the panel
      margin-bottom: 3.5em;
    }
  }
  // symbolic icons in popover
  .popup-menu-arrow,
  .popup-menu-icon { icon-size: $base_icon_size * 2; }
}
*/
