/* Screen Shield */

.unlock-dialog-clock {
  // background-color: #f00;
  background-color: transparent;
  color: $reversed_text_color;
  font-weight: 800;
  text-align: center;
  spacing: $base_spacing * 4;
  padding: $base_padding * 8;
}

.unlock-dialog-clock-time {
  font-size: 80pt;
  padding-top: 0px;
  font-feature-settings: "tnum";
}

.unlock-dialog-clock-date {
  font-size: 32pt;
  font-weight: 700;
}

.unlock-dialog-clock-hint {
  font-size: 12pt;
  font-weight: 500;
  padding-top: $base_padding * 4;
}

.unlock-dialog-notifications-container {
  width: 24em;
  background-color: transparent;
  // background-color: #f00;
  spacing: $base_spacing * 2;
  margin: $base_margin * 4;


  /*
  .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
  }
  */

  .notification,
  .unlock-dialog-notification-source {
    color: $text_color;
    background-color: $notifications_bg;
    height: 48px;
    padding: $base_padding * 4;
    border: none;
    border-radius: $bt_radius;

    &.critical {
      background-color: $notifications_bg;
    }
  }
}

.unlock-dialog-notification-label {
  color: $text_color;
  padding: $base_padding * 4;
  // padding: 0px 0px 0px 12px;
  @extend %description;
}

.unlock-dialog-notification-count-text {
  color: $text_color;
  background-color: transparent;
  padding: $base_padding * 4;
  // border-radius: 99px;
  margin-right: $base_margin * 4;
  @extend %description;
}

#unlockDialogNotifications {
  // max-height: 48 * 2 px + $base_padding * 4 + $;
  max-height: 256px;
  maring-bottom: $base_margin * 4;

  StButton#vhandle, StButton#hhandle {
    // background-color: transparentize($notifications_bg, 0.7);
    background-color: $bg_color;

    &:focus,
    &:hover,
    &:active {
      background-color: $selected_bg_color;
    }

    /*
    @if $shell_version == 'old' {
      &:active { background-color: transparentize($selected_bg_color, $higher_opacity); }
    } @else {
      &:active { background-color: st-transparentize($selected_bg_color, $higher_opacity); }
    }
    */
  }
}

.screen-shield-background { //just the shadow, really
  // box-shadow: 0 2px 3px 0 rgba(rgb(0, 0, 0), 0.15);
  box-shadow: none;
}
