/* Screen Shield */

.unlock-dialog-clock {
  // background-color: #f00;
  background-color: transparent;
  color: $bg_color;
  font-weight: 800;
  text-align: center;
  spacing: $base_spacing * 4;
  padding: $base_padding * 8;
}

.unlock-dialog-clock-time {
  font-size: 72pt;
  padding-top: 0px;
  font-feature-settings: "tnum";
}

.unlock-dialog-clock-date {
  font-size: 22pt;
  font-weight: 700;
}

.unlock-dialog-clock-hint {
  font-size: 12pt;
  font-weight: 500;
  padding-top: $base_padding * 2;
}

.unlock-dialog-notifications-container {
  margin: 8px;
  spacing: 8px;
  width: 24em;
  background-color: transparent;


  .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
  }

  .notification,
  .unlock-dialog-notification-source {
    padding: 8px 8px;
    border: none;
    background-color: $notifications_bg;
    border-radius: $bt_radius;

    &.critical {
      background-color: $notifications_bg;
    }
  }
}

.unlock-dialog-notification-label {
  color: $notifications_fg;
  padding: 8px;
  // padding: 0px 0px 0px 12px;
}

.unlock-dialog-notification-count-text {
  color: $notifications_fg;
  background-color: transparent;
  weight: bold;
  padding: 0 6px;
  border-radius: 99px;
  margin-right: 16px;
}

.screen-shield-background { //just the shadow, really
  box-shadow: 0 2px 3px 0 rgba(rgb(0, 0, 0), 0.15);
}

#unlockDialogNotifications {
  StButton#vhandle, StButton#hhandle {
    background-color: transparentize($notifications_bg, 0.7);
    &:hover, &:focus { background-color: transparentize($notifications_bg, 0.5); }

    @if $shell_version == 'old' {
      &:active { background-color: transparentize($selected_bg_color, 0.5); }
    } @else {
      &:active { background-color: st-transparentize($selected_bg_color, 0.5); }
    }
  }
}