// Search entry
%search-entry, #overview .search-entry {
  color: $text_color;
  caret-color: $text_color;
  // background-color: $bg_color;
  background-color: transparent !important;
  // background-clip: padding-box;
  width: 320px;
  min-height: $menuitem_size;
  padding: 0 $base_padding !important;
  selection-background-color: $selected_bg_color !important;
  selected-color: $text_color !important;
  // @include search_entry(normal, $fc:$light_track_color);
  box-shadow: none;

  /*
  &:focus,
  &:hover {
    // @include search_entry(hover, $fc:$light_alt_fg_color);
    color: $text_color;
    box-shadow: none;
  }
  */

  &:insensitive {
    color: $grey_color;
  }

  .search-entry-icon {
    icon-size: 16px;
    padding: 0 0;
    // color: $light_hint_fg_color;
    color: $text_color;
     
    /*
    &:hover, &:focus {
      color: $text_color;
    }
    */
  }

  StLabel {
    color: $text_color;
  }

  StLabel.hint-text {
    color: $text_color;
  }
}
