$screenshot_ui_panel_padding: $base_padding * 3;
$screenshot_ui_shot_cast_margin: $base_padding * 3;
$screenshot_ui_panel_border_radius: $base_padding * 7;
$screenshot_ui_shot_cast_spacing: $base_padding / 2;

$screenshot_ui_button_red: $error_color;

// Screenshot UI
.icon-label-button-container {
  spacing: $base_padding;
  @include font(caption);
  StIcon { icon-size: 32px; }
  color: $text_color;
}

.screenshot-ui-panel {
  color: $text_color;
  background-color: $bg_color;
  border-radius: $po_radius;
  padding: $base_padding * 4;
  spacing: $container_padding * 2;
  box-shadow: none !important;
  border: none;
  margin-bottom: 4em;
}

.screenshot-ui-close-button {
  @extend .window-close; // copy window close button
  padding: $base_padding !important; // but with more padding
  box-shadow: none !important;

  &.left { margin-left: $container_padding; }
  &.right { margin-right: $container_padding; }
}

.screenshot-ui-type-button {
  // @extend %osd_button;
  color: $fg_color;
  min-width: 48px;
  padding: $base_padding * 3 $base_padding * 4 !important;
  border-radius: $bt_radius;

  &:focus {
    color: $light_color;
    background-color: $selected_bg_color;
  }

  &:hover {
    background-color: lighten($selected_bg_color, 0.5);
  }
}

.screenshot-ui-capture-button {
  // background-color: transparent;
  width: 48px;
  height: 48px;
  // border: none;
  // border: $base_padding solid $fg_color;
  // border-radius: $circular_radius;
  // border: $base_padding solid $fg_color;
  // padding: $base_padding;

  .screenshot-ui-capture-button-circle {
    background-color: $fg_color;
    transition-duration: 200ms;

    &:hover, &:focus {
      background-color: $divider_color;
    }
    border-radius: $circular_radius;
  }


  &:hover, &:focus {
    .screenshot-ui-capture-button-circle {
      background-color: darken($fg_color, 15%);
    }
  }

  &:active {
    .screenshot-ui-capture-button-circle {
      background-color: darken($fg_color, 50%);
    }
  }

  // record button
  &:cast {
    .screenshot-ui-capture-button-circle {
      background-color: $screenshot_ui_button_red;
    }

    &:hover, &:focus {
      .screenshot-ui-capture-button-circle {
        background-color: lighten($screenshot_ui_button_red, 5%);
      }
    }

    &:active {
      .screenshot-ui-capture-button-circle {
        background-color: darken($screenshot_ui_button_red, 7%);
      }
    }
  }
}

.screenshot-ui-shot-cast-container {
  color: $fg_color;
  background-color: $selected_bg_color;
  border-radius: $bt_radius;
  padding: $base_padding;
  spacing: $base_spacing;

  /*
  &:ltr { margin-left: $screenshot_ui_shot_cast_margin - $screenshot_ui_panel_padding; }
  &:rtl { margin-right: $screenshot_ui_shot_cast_margin - $screenshot_ui_panel_padding; }
  */
}

.screenshot-ui-shot-cast-button {
  padding: $base_padding $base_padding * 2;
  color: $fg_color;
  background-color: transparent;
  border-radius: $bt_radius - $screenshot_ui_shot_cast_spacing;

  &:hover, &:focus { background-color: rgba($reversed_text_color, 0.1); }
  &:active { background-color: rgba($reversed_text_color, 0.2); }
  &:checked { background-color: $reversed_text_color; }

  StIcon { icon-size: 16px; }
}

.screenshot-ui-show-pointer-button {
  // @extend %osd_button;
  color: $fg_color;
  border-radius: $circular_radius;
  padding: $container_padding * 2.5 !important;

  StIcon { icon-size: 16px; }
}

.screenshot-ui-area-indicator-shade {
  // background-color: hsl(0, 100%, 50%);
  background-color: rgba($dark_color, 0.4);
}

.screenshot-ui-area-selector {
  /*
  .screenshot-ui-area-indicator-shade {
    background-color: rgba($solid_bg_color, 0.3);
  }
  */

  .screenshot-ui-area-indicator-selection {
    border: 3px solid $light_color;
  }
}

.screenshot-ui-area-selector-handle {
  // background-color: $fg_color;
  background-color: $light_color;
  width: $base_icon_size;
  height: $base_icon_size;
  border-radius: $circular_radius;
  // box-shadow: 0 1px 3px 2px rgba(0,0,0,0.2);
  box-shadow: none !important;
}

.screenshot-ui-window-selector {
  .screenshot-ui-window-selector-window-container {
    // background-color: $dark_color;
    background-color: transparent;
    // margin: 100px;
    margin: 0px;
    // padding: 100px ;
  }

  &:primary-monitor {
    .screenshot-ui-window-selector-window-container {
      // Make some room for the panel.
      background-color: transparent;
      margin-bottom: 0px;
    }
  }
}

.screenshot-ui-window-selector-window-border {
  transition-duration: 200ms;
  border-radius: $bt_radius;
  // variables later
  border: 4px transparent;
}

.screenshot-ui-window-selector-check {
  transition-duration: 200ms;
  color: transparent;
  border-radius: $circular_radius;
  border-width: 12px;
  icon-size: 24px;
}

.screenshot-ui-window-selector-window {

  &:hover {
    .screenshot-ui-window-selector-window-border {
      @if $shell_version == 'old' {
        border-color: darken($primary_color, 15%);
      } @else {
        border-color: st-darken($primary_color, 15%);
      }
    }
  }

  &:checked {
    .screenshot-ui-window-selector-window-border {
      border-color: $primary_color;
      @if $shell_version == 'old' {
        background-color: transparentize($primary_color, 0.8);
      } @else {
        background-color: st-transparentize($primary_color, 0.8);
      }
    }

    .screenshot-ui-window-selector-check {
      // color: white;
      color: $reversed_text_color;
      background-color: $primary_color;
    }
  }
}

.screenshot-ui-screen-selector {
  transition-duration: 200ms;
  // background-color: rgba(0,0,0,.5);
  background-color: transparent;

  &:hover {
    background-color: rgba($dark_color, 0.3)
  }
  
  &:active {
    background-color: rgba($dark_color, 0.7)
  }

  &:checked {
    background-color: transparent;
    border: none;
  }
}

.screenshot-ui-tooltip {
  color: $text_color;
  background-color: $bg_color;
  border-radius: $circular_radius;
  padding: $base_padding $base_padding * 2;
  text-align: center;
  -y-offset: 24px;
}
